<div class="container-fluid">
  <h1 class="text-center"><%= @user.name %></h1>
  <hr />
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Watched Movies</h2>
      <hr />
      <% if @user.watched_movies.empty? %>
        <p class="text-center">Looks like there are no watched movies! Sorry!</p>
      <% else %>
        <% @user.watched_movies.in_groups_of(4).each do |movie_slices| %>
          <div class="row">
            <% movie_slices.each do |movie| %>
              <% if movie %>
                <div class="col-lg-3">
                 <hr />
                  <a href="<%= movie_path(movie.api_id) %>"><img style="margin: 0 auto; max-width:100%; height: auto" class="media-object" src="<%= movie.thumbnail %>" alt="movie poster"></a>
                  <h3 class="text-center"><%= link_to "#{truncate movie.title, :length => 32, :separator => /\w/, :omission => "..."}".html_safe, movie_path(movie.api_id) %></h3>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-12">
      <h2 class="text-center">Unwatched Movies</h2>
      <hr />
      <% if @user.unwatched_movies.empty? %>
        <p class="text-center">Looks like there are no unwatched movies! Sorry!</p>
      <% else %>
        <% @user.unwatched_movies.in_groups_of(4).each do |movie_slices| %>
          <div class="row">
            <% movie_slices.each do |movie| %>
              <% if movie %>
                <div class="col-lg-3">
                  <hr />
                  <a href="<%= movie_path(movie.api_id) %>"><img style="margin: 0 auto; max-width: 100%; height: auto" class="media-object" src="<%= movie.thumbnail %>" alt="movie poster"></a>
                  <h3 class="text-center"><%= link_to "#{truncate movie.title, :length => 32, :separator => /\w/, :omission => "..."}".html_safe, movie_path(movie.api_id) %></h3>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% unless @user.shared_unwatched_movies.empty? %>
    <hr style="padding-top: 20px" />
    <h2 class="text-center">Watch these movies with your friends!</h2>
    <hr />
    <div class="row" style="padding-bottom: 20px">
      <% @user.shared_unwatched_movies.each do |movie| %>
        <div class="col-lg-3">
          <h3 class="text-center"><%= truncate movie["friend"], :length => 20, :separator => /\w/, :omission => "..." %></h3>
          <hr />
          <a href="<%= movie_path(movie["movie"].api_id) %>"><img style="margin: 0 auto" class="media-object" src="<%= movie["movie"].thumbnail %>" alt="movie poster" height="400"></a>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
